doctype html
html.html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      | Museum
  body.page

    //- *** HEADER ***
    header.section.main-header
      div.container.main-header__inner
        a.logo(href="#")
          | Louvre
        nav.main-header__nav
          ul.main-menu.list
            li.main-menu__item
              a.main-menu__link(href="#visiting")
                | Visiting
            li.main-menu__item
              a.main-menu__link(href="#explore")
                | Explore
            li.main-menu__item
              a.main-menu__link(href="#video")
                | Video
            li.main-menu__item
              a.main-menu__link(href="#gallery")
                | Gallery
            li.main-menu__item
              a.main-menu__link(href="#tickets")
                | Tickets
            li.main-menu__item
              a.main-menu__link(href="#contacts")
                | Contacts
        button.main-header__button.burger-btn(type="button")
          span.burger-btn__line

    //- *** MAIN ***
    main
      h1.visually-hidden
        | Louvre

      //- *** WELCOME ***
      section.section.welcome#welcome
        div.container.welcome__inner
          div.welcome__wrapper
            h2.section__title.welcome__title
              span.welcome__title-short
                | Welcome
              |  to the Louvre
            p.welcome__subtitle
              | From the castle to the museum
            a.welcome__button(href="./tours/tours1.html"
                              target="_blank")
              | Discover the Louvre
          div.welcome__slider.welcome-slider
            div.welcome-slider__wrapper
              img.welcome-slider__img(src="assets/images/welcome-slider/welcome-slider1.jpg" alt="The picture by Leonardo da Vinci - Mona Lisa" width="1000" height="750")
            div.welcome-slider__controls
              div.welcome-slider__numbers
                span
                  | 01
                span
                  | 05
              ul.welcome-slider__bullet-list.list
                li.welcome-slider__bullet.welcome-slider__bullet--active
                li.welcome-slider__bullet
                li.welcome-slider__bullet
                li.welcome-slider__bullet
                li.welcome-slider__bullet
              div.welcome-slider__arrows
                button.welcome-slider__arrow-item(type="button")
                  span.visually-hidden
                    | Prev
                button.welcome-slider__arrow-item.welcome-slider__arrow-item--next(type="button")
                   span.visually-hidden
                    | Next

      //- *** VISITING ***
      section.section.section--light.visiting#visiting
        div.container
          h2.section__title.section__title--gold
            | Virtual tour
          div.visiting__wrapper
            a.visiting__item.place(href="./tours/tours2.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/royal-palace.jpg"
                               width="440"
                               height="285"
                               alt="Royal Palace")
                h3.place__title
                  | Royal Palace
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View
            a.visiting__item.place(href="./tours/tours3.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/denon-wing.jpg"
                               width="440"
                               height="285"
                               alt="Denon Wing")
                h3.place__title
                  | Denon Wing
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View
            a.visiting__item.place(href="./tours/tours4.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/colonnade-perrault.jpg"
                               width="440"
                               height="285"
                               alt="Colonnade Perrault")
                h3.place__title
                  | Colonnade Perrault
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View
            a.visiting__item.place(href="./tours/tours5.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/greek-hall.jpg"
                               width="440"
                               height="285"
                               alt="Greek hall")
                h3.place__title
                  | Greek hall
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View
            a.visiting__item.place(href="./tours/tours6.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/mona-lisa.jpg"
                               width="440"
                               height="285"
                               alt="Mona Lisa")
                h3.place__title
                  | Mona Lisa
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View
            a.visiting__item.place(href="./tours/tours7.html"
                                   target="_blank")
              article
                img.place__img(src="assets/images/visiting/night-palace.jpg"
                               width="440"
                               height="285"
                               alt="Night Palace")
                h3.place__title
                  | Night Palace
                p.place__subtitle
                  | 360° Virtual Tour
                p.place__text
                  | Google Street Panorama View

      //- *** EXPLORE ***
      section.section.explore#explore
        div.container.explore__inner
          div.explore__wrapper
            h2.section__title
              | Picture explore
            p.explore__text
              | Las Meninas is a 1656 painting by Diego Velázquez,
              | the leading artist of the Spanish Golden Age.
            p.explore__text
              | It was cleaned in 1984 to remove a <span class="explore__special-text">"yellow veil"</span>
              | of dust that had gathered since the previous
              | restoration in the 19th century.
            p.explore__text
              | The cleaning provoked furious protests,
              | not because the picture had been damaged in any way,
              | but because it looked different.
          div.explore__compare-slider.compare-slider
            img.compare-slider__before(src="assets/images/las-meninas-before.jpg"
                                       width="720"
                                       height="700"
                                       alt="The picture by Diego Velázquez - Las Meninas")
            div.compare-slider__after
            div.compare-slider__divider

      //- *** VIDEO ***
      section.section.section--light.video#video
        div.container
          div.video__wrapper
            h2.section__title.section__title--gold.video__title
              | Video journey
            p.video__text
              | Enter and visit one of the most famous museums
              | in the world and enjoy masterpieces such as
              | Mona Lisa or Hammurabi's Code
          div.video__player.video-player
            div.video-player__wrapper
              video.video-player__screen(src="assets/video/video0.mp4" poster="assets/images/video-posters/poster0.jpg")
              button.video-player__screen-btn(type="button" aria-label="Play")
                svg(width='220' height='220' viewbox='0 0 220 220' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0)')
                    path(d='M110 8.89168C130.003 8.88778 149.558 14.816 166.191 25.9266C182.825 37.0372 195.79 52.831 203.446 71.3106C211.103 89.7901 213.107 110.125 209.206 129.744C205.304 149.363 195.672 167.384 181.528 181.528C167.384 195.672 149.363 205.304 129.744 209.206C110.125 213.107 89.7901 211.103 71.3106 203.446C52.8311 195.79 37.0372 182.825 25.9266 166.191C14.816 149.558 8.88776 130.003 8.89167 110C8.92826 83.1956 19.5925 57.4996 38.546 38.546C57.4996 19.5925 83.1956 8.92828 110 8.89168ZM110 0C88.2441 0 66.9767 6.45139 48.8873 18.5383C30.7979 30.6253 16.6989 47.805 8.37324 67.9048C0.0476007 88.0047 -2.13077 110.122 2.1136 131.46C6.35798 152.798 16.8345 172.398 32.2183 187.782C47.602 203.166 67.2022 213.642 88.5401 217.886C109.878 222.131 131.995 219.952 152.095 211.627C172.195 203.301 189.375 189.202 201.462 171.113C213.549 153.023 220 131.756 220 110C220 80.8262 208.411 52.8473 187.782 32.2183C167.153 11.5893 139.174 0 110 0Z' fill='white')
                    path(d='M167.954 110L76.5278 49.9119C76.6463 140.498 76.5278 96.0498 76.5278 170.088L167.954 110Z' fill='white')
                  defs
                    clippath#clip0
                      rect(width='220' height='220' fill='white')
              div.video-player__playback
              div.video-player__rewind
                | 10 sec.
            div.control-bar
              button.control-bar__btn.control-bar__btn--play(type="button")
                span.visually-hidden
                  | Play/Pause
              input.control-bar__progress-bar.control-bar__progress-bar--video(type="range"
                                              value="0"
                                              min="0"
                                              max="100"
                                              step="1"
                                              aria-label="video-progress")
              div.control-bar__volume-bar
                button.control-bar__btn.control-bar__btn--vol(type="button")
                  span.visually-hidden
                    | Volume/Mute
                input.control-bar__progress-bar.control-bar__progress-bar--vol(type="range"
                                                                              value="44"
                                                                              min="0"
                                                                              max="100"
                                                                              step="1"
                                                                              aria-label="volume-level")
              button.control-bar__btn.control-bar__btn--fullscreen(type="button")
                  span.visually-hidden
                    | Fullscreen
          div.video-slider
            div.video-slider__wrapper
              div.video-slider__frame-wrapper
                iframe.video-slider__frame(width='1280' height='720' src='https://www.youtube.com/embed/aWmJ5DgyWPI?controls=0?modestbranding=1' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' loading="lazy")
              div.video-slider__frame-wrapper
                iframe.video-slider__frame(width='1280' height='720' src='https://www.youtube.com/embed/Vi5D6FKhRmo?controls=0?modestbranding=1' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' loading="lazy")
              div.video-slider__frame-wrapper
                iframe.video-slider__frame(width='1280' height='720' src='https://www.youtube.com/embed/NOhDysLnTvY?controls=0?modestbranding=1' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' loading="lazy")
              div.video-slider__frame-wrapper
                iframe.video-slider__frame(width='1280' height='720' src='https://www.youtube.com/embed/zp1BXPX8jcU?controls=0?modestbranding=1' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' loading="lazy")
              div.video-slider__frame-wrapper
                iframe.video-slider__frame(width='1280' height='720' src='https://www.youtube.com/embed/2OR0OCr6uRE?controls=0?modestbranding=1' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' loading="lazy")
            div.video-slider__bullets
              button.video-slider__arrow(type="button" aria-label="Prev")
                svg(width='10' height='12' viewbox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M5.4777 0.219168C5.87773 0.564178 5.94259 1.19347 5.62256 1.62473L2.37578 6.00004L5.62256 10.3753C5.94259 10.8066 5.87773 11.4359 5.4777 11.7809C5.07766 12.1259 4.49394 12.056 4.17391 11.6247L0 6.00004L4.17391 0.375342C4.49394 -0.0559202 5.07766 -0.125842 5.4777 0.219168ZM9.65184 0.219168C10.0519 0.564178 10.1167 1.19347 9.7967 1.62473L6.54992 6.00004L9.7967 10.3753C10.1167 10.8066 10.0519 11.4359 9.65184 11.7809C9.2518 12.1259 8.66808 12.056 8.34805 11.6247L4.17414 6.00004L8.34805 0.375342C8.66808 -0.0559202 9.2518 -0.125842 9.65184 0.219168Z' fill='#999999')
              span.video-slider__bullet-item.video-slider__bullet-item--active
              span.video-slider__bullet-item
              span.video-slider__bullet-item
              span.video-slider__bullet-item
              span.video-slider__bullet-item
              button.video-slider__arrow(type="button" aria-label="Next")
                svg(width='10' height='12' viewbox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M0.348163 0.219168C0.748196 -0.125842 1.33192 -0.0559202 1.65195 0.375342L5.82586 6.00004L1.65194 11.6247C1.33192 12.056 0.748195 12.1259 0.348162 11.7809C-0.0518709 11.4359 -0.116729 10.8066 0.203297 10.3753L3.45008 6.00004L0.203298 1.62473C-0.116728 1.19347 -0.05187 0.564177 0.348163 0.219168ZM4.5223 0.219168C4.92234 -0.125841 5.50606 -0.0559197 5.82609 0.375342L10 6.00004L5.82609 11.6247C5.50606 12.056 4.92234 12.1259 4.5223 11.7809C4.12227 11.4359 4.05741 10.8066 4.37744 10.3753L7.62422 6.00004L4.37744 1.62473C4.05741 1.19347 4.12227 0.564178 4.5223 0.219168Z' fill='#999999')

      //- *** GALLERY ***
      section.section.gallery#gallery
        div.container
          h2.section__title.gallery__title
            | Art Gallery
          div.gallery__wrapper

      //- *** TICKETS ***
      section.section.section--light.tickets#tickets
        div.container
          h2.section__title.section__title--gold
            | Buy tickets
          div.tickets__wrapper
            img.tickets__img(src="assets/images/venus.jpg"
                             width="720"
                             height="550"
                             alt="The picture by Pompeo Batoni - Venus Presenting Aeneas with Armour Forged by Vulcan, 1748")
            form.tickets__form.form(action="#" method="post")
              div.form__ticket-type
                h3.form__subtitle
                  | Ticket Type
                fieldset.form__fieldset
                  legend.visually-hidden
                    | Ticket Type
                  ul.radio-list.list
                    li.radio-list__item
                      label.radio-list__label
                        input.radio-list__input(type="radio"
                                                name="ticket-type"
                                                checked)
                        | Permanent exhibition
                    li.radio-list__item
                      label.radio-list__label
                        input.radio-list__input(type="radio"
                                                name="ticket-type")
                        | Temporary exhibition
                    li.radio-list__item
                      label.radio-list__label
                        input.radio-list__input(type="radio"
                                                name="ticket-type")
                        | Combined Admission
              div.form__amount
                h3.form__subtitle.form__subtitle--amount
                  | Amount
                div.form__ticket-count
                  p.form__age
                    | Basic 18+
                  div.ticket-count
                      button.ticket-count__btn(type="button"
                                               onclick="this.nextElementSibling.stepDown()")
                        | –
                      input.ticket-count__sum(type="number"
                                              value="1"
                                              min="0"
                                              max="20"
                                              aria-label="basic-ticket-amount")
                      button.ticket-count__btn(type="button"
                                               onclick="this.previousElementSibling.stepUp()")
                        | +
                div.form__ticket-count
                  p.form__age
                    | Senior 65+
                  div.ticket-count
                      button.ticket-count__btn(type="button"
                                               onclick="this.nextElementSibling.stepDown()")
                        | –
                      input.ticket-count__sum(type="number"
                                              value="1"
                                              min="0"
                                              max="20"
                                              aria-label="senior-ticket-amount")
                      button.ticket-count__btn(type="button"
                                               onclick="this.previousElementSibling.stepUp()")
                        | +
                p.form__total
                  | Total €<span class="form__total-sum">220</span>
                button.buy-btn(type="button")
                  | Buy Now

      //- *** PARALLAX ***
      div.parallax

      //- *** CONTACTS ***
      section.section.section--light.contacts#contacts
        div.container
          h2.section__title.section__title--gold
              | Contacts
          div.contacts__wrapper
            div.contacts__text-group
              p.contacts__subtitle
                | Palais Royal Musee du Louvre
              ul.list
                li.contacts__text
                  address.contacts__address
                    | address: 75001 Paris, France
                li.contacts__text
                  | phone:
                  a.contacts__link(href="tel:+33(0)140205050")
                    |  +33(0) 1 40 20 50 50
                li.contacts__text
                  | mail:
                  a.contacts__link(href="mailto:info@louvre.fr")
                    |  info@louvre.fr
            img.contacts__map(src="assets/images/map.png"
                              width="960"
                              height="620"
                              alt="Map with the address of the Louvre")

    //- *** FOOTER ***
    footer.section.main-footer
      div.main-footer__top
        div.container.main-footer__wrapper
          a.logo.logo--footer(href="#")
            | Louvre
          nav.main-footer__nav
            ul.main-menu.main-menu--footer.list
              li.main-menu__item
                a.main-menu__link(href="#visiting")
                  | Visiting
              li.main-menu__item
                a.main-menu__link(href="#explore")
                  | Explore
              li.main-menu__item
                a.main-menu__link(href="#video")
                  | Video
              li.main-menu__item
                a.main-menu__link(href="#gallery")
                  | Gallery
              li.main-menu__item
                a.main-menu__link(href="#tickets")
                  | Tickets
              li.main-menu__item
                a.main-menu__link(href="#contacts")
                  | Contacts
          div.main-footer__social
              ul.social.list
                li.social__item
                  a.social__link.social__link--youtube(href="https://www.youtube.com/user/louvre" target="_blank")
                    span.visually-hidden
                      | Youtube
                li.social__item
                  a.social__link.social__link--instagram(href="https://www.instagram.com/museelouvre/" target="_blank")
                    span.visually-hidden
                      | Instagram
                li.social__item
                  a.social__link.social__link--facebook(href="https://www.facebook.com/museedulouvre" target="_blank")
                    span.visually-hidden
                      | Facebook
                li.social__item
                  a.social__link.social__link--twitter(href="https://twitter.com/museelouvre" target="_blank")
                    span.visually-hidden
                      | Twitter
                li.social__item
                  a.social__link.social__link--pinterest(href="https://www.pinterest.fr/museedulouvre/" target="_blank")
                    span.visually-hidden
                      | Pinterest
      div.container.main-footer__bottom
        p.main-footer__text.main-footer__text--year
          | © 2021
        a.main-footer__link.main-footer__text.main-footer__text--school(href="https://rs.school" target="_blank")
          | The Rolling Scopes School
        a.main-footer__text.main-footer__link(href="https://github.com/viGITory" target="_blank")
          | viGITory

    //- *** BOOKING MODAL ***
    div.booking-modal
      div.booking-modal__overlay.booking-overlay
      div.booking-modal__booking.booking
        button.booking__close-btn(type="button")
          span.visually-hidden
            | Close
        form.booking__form(action="#" method="post")
          div.booking__details
            div.booking__header
              h3.booking__title
                | Booking tickets
              p.booking__subtitle
                | Tour to Louvre
            fieldset.booking__fieldset
              legend.visually-hidden
                | Order details
              label.booking__field.booking-field.booking-field--date
                span.visually-hidden
                  | Date
                input.booking-field__input.booking-field__input--date(type="date")
              label.booking__field.booking-field.booking-field--time
                span.visually-hidden
                  | Time
                input.booking-field__input.booking-field__input--time(type="time")
              label.booking__field.booking-field.booking-field--name
                span.visually-hidden
                  | Name
                input.booking-field__input(type="text" placeholder="Name")
              label.booking__field.booking-field.booking-field--email
                span.visually-hidden
                  | E-mail
                input.booking-field__input(type="email" placeholder="E-mail")
              label.booking__field.booking-field.booking-field--tel
                span.visually-hidden
                  | Tel
                input.booking-field__input(type="tel" placeholder="Phone")
              div.booking__field.booking-field
                select.booking-field__input.booking-field__input--ticket-type
                  option(value="Ticket Type" hidden)
                    | Ticket Type
                  option(value="Permanent exhibition")
                    | Permanent exhibition
                  option(value="Temporary exhibition")
                    | Temporary exhibition
                  option(value="Combined Admission")
                    | Combined Admission
              div.booking__entry
                p.booking__entry-title
                  | Entry Ticket
                div.booking__wrapper
                  p.booking__text
                    | Basic 18+ (
                    span.booking__price 20
                      | !{' '}€)
                  div.booking-counter
                    label.visually-hidden(for="Basic-tickets")
                      | Basic tickets
                    button.booking-counter__btn(type="button" onclick="this.nextElementSibling.stepDown()")
                      | –
                    input.booking-counter__input(id="Basic-tickets" type="number" value="2" min="0" max="20")
                    button.booking-counter__btn(type="button" onclick="this.previousElementSibling.stepUp()")
                      | +
                div.booking__wrapper
                  p.booking__text
                    | Senior 65+ (
                    span.booking__price 10
                      | !{' '}€)
                  div.booking-counter
                    label.visually-hidden(for="Senior-tickets")
                      | Senior tickets
                    button.booking-counter__btn(type="button" onclick="this.nextElementSibling.stepDown()")
                      | –
                    input.booking-counter__input(id="Senior-tickets" type="number" value="2" min="0" max="20")
                    button.booking-counter__btn(type="button" onclick="this.previousElementSibling.stepUp()")
                      | +
          div.booking-overview
            div.booking-overview__top
              h4.booking-overview__title
                | Overview
              p.booking-overview__subtitle
                | Tour to Louvre
              p.booking-overview__text.booking-overview__text--date
                | Friday, August 19
              p.booking-overview__text.booking-overview__text--time
                span.payment-overview__hour
                  | 16
                span
                  | !{' '}:!{' '}
                span.payment-overview__minute
                  | 30
              p.booking-overview__text.booking-overview__text--type
                | Temporary exhibition
              div.booking-overview__wrapper
                p.booking-overview__type
                  span.booking-overview__count
                    | 2
                  | Basic (
                  span 20
                    | !{' '}€)
                p.booking-overview__amount
                  span
                    | 40
                  | !{' '}€
              div.booking-overview__wrapper
                p.booking-overview__type
                  span.booking-overview__count
                    | 2
                  | Senior (
                  span 10
                    | !{' '}€)
                p.booking-overview__amount
                  span
                    | 20
                  | !{' '}€
            div.booking-overview__total
              p.booking-overview__total-text
                | Total:
              p.booking-overview__total-sum
                span
                  | 60
                | !{' '}€
            div.booking-overview__payment-card.payment-card
              div.payment-card__frontside
                div.payment-card__number
                  label.payment-card__label(for="card-number")
                    | Card number
                  input.payment-card__input.payment-card__input--card-number#card-number(type="text")
                div.payment-card__validity
                  div
                    label.payment-card__label(for="card-month")
                      | Expiration date
                    input.payment-card__input.payment-card__input--short#card-month(type="number" value="03" min="1" max="12")
                  div
                    label.visually-hidden(for="card-year")
                      | Expiration year
                    input.payment-card__input.payment-card__input--short#card-year(type="number" value="2024" min="2021" max="2030")
                div
                  label.payment-card__label(for="card-holder")
                    | Cardholder name
                  input.payment-card__input.payment-card__input--holder#card-holder(type="text")
              div.payment-card__backside
                div.payment-card__code
                  label.payment-card__label.payment-card__label--code(for="card-code")
                    | CVC/CVV
                  input.payment-card__input.payment-card__input--code#card-code(type="password" minlength="3" maxlength="4")
                  p.payment-card__decription
                    | The last<br> 3 or 4 digits on back<br> of the card
            button.booking-overview__button
              | Book
